/**********************************************************[ Buttons ]*************************************************/

input, button { outline: none }

form input[type="submit,button"], button
{
    background-color: #FBFBFB;
    border: 1px solid #BBBBBB;
    border-radius: 3px;
    cursor: pointer;
    height: 35px;
    background-image:-webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(100%, #FAFAFA), color-stop(100%, #E6E6E6));
    background-image:-webkit-linear-gradient(top, rgba(250, 250, 250, 1), rgba(230, 230, 230, 1));
    background-image:-moz-linear-gradient(top, rgba(250, 250, 250, 1), rgba(230, 230, 230, 1));
    background-image:-o-linear-gradient(top, rgba(250, 250, 250, 1), rgba(230, 230, 230, 1));
    background-image:-ms-linear-gradient(top, rgba(250, 250, 250, 1), rgba(230, 230, 230, 1));
    background-image:linear-gradient(top, rgba(250, 250, 250, 1), rgba(230, 230, 230, 1));*zoom:1;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFAFAFA', endColorstr='#FFEBEBEB');
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    padding-left: 20px;
    padding-right: 20px;
}

form input[type="submit,button"]:hover, button:hover
{
    background-image:-webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(100%, #FFFFFF), color-stop(100%, #F5F5F5));
    background-image:-webkit-linear-gradient(top, rgba(255, 255, 255, 1), rgba(245, 245, 245, 1));
    background-image:-moz-linear-gradient(top, rgba(255, 255, 255, 1), rgba(245, 245, 245, 1));
    background-image:-o-linear-gradient(top, rgba(255, 255, 255, 1), rgba(245, 245, 245, 1));
    background-image:-ms-linear-gradient(top, rgba(255, 255, 255, 1), rgba(245, 245, 245, 1));
    background-image:linear-gradient(top, rgba(255, 255, 255, 1), rgba(245, 245, 245, 1));*zoom:1;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFF5F5F5');
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

form input[type="button,submit"]:active, button:active
{
    background-image:-webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(100%, #E9E9E9), color-stop(100%, #F3F3F3));
    background-image:-webkit-linear-gradient(top, rgba(233, 233, 233, 1), rgba(243, 243, 243, 1));
    background-image:-moz-linear-gradient(top, rgba(233, 233, 233, 1), rgba(243, 243, 243, 1));
    background-image:-o-linear-gradient(top, rgba(233, 233, 233, 1), rgba(243, 243, 243, 1));
    background-image:-ms-linear-gradient(top, rgba(233, 233, 233, 1), rgba(243, 243, 243, 1));
    background-image:linear-gradient(top, rgba(233, 233, 233, 1), rgba(243, 243, 243, 1));;*zoom:1;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE9E9E9', endColorstr='#FFF3F3F3');
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

form input[type="button,submit"] > span.icon, button > span.icon
{
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 2px;
    margin: 0 3px;
}

.button-back span.icon { background: url("elements/back.png") no-repeat; }
.button-forward span.icon { background: url("elements/forward.png") no-repeat; }
.button-save span.icon { background: url("elements/save.png") no-repeat; }
.button-cancel span.icon { background: url("elements/cancel.png") no-repeat; }
.button-submit span.icon { background: url("elements/submit.png") no-repeat; }
.button-delete span.icon { background: url("elements/delete.png") no-repeat; }
.button-add span.icon { background: url("elements/add.png") no-repeat;top:4px; }
.button-preview span.icon { background: url("elements/preview.png") no-repeat; }
.button-loading span.icon { background: url("elements/preload.png") no-repeat;top:5px; }
.button-edit span.icon { background: url("elements/edit.png") no-repeat; }
.button-remove span.icon { background: url("elements/minus.png") no-repeat; }
.button-update span.icon { background: url("elements/update.png") no-repeat; }





/*******************************************************[ Form elements ]**********************************************/

input[type="text"], input[type="password"], input[type="email"], input[type=""], textarea
{
    border-radius: 4px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 4px;
    border: 1px solid #BBBBBB;
    /*width: 400px;*/
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type=""]:focus,
  textarea:focus, select:focus
{
    border: 1px solid #999999;
    background-color: #FBFBFB;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15) inset;
}
input[type="text"].error, input[type="password"].error, input[type="email"].error, input[type=""].error,
  textarea.error, select.error
{
    background-color: #FEECE5;
    border: 1px solid #FF8070;
}

input[type="text"].error:focus, input[type="password"].error:focus, input[type="email"].error:focus,
  input[type=""].error:focus, textarea.error:focus, select.error:focus
{
    background-color: #FBFBFB;
    border: 1px solid #FF8070;
    box-shadow: 0 0 4px #EDCAC4 inset;
}

textarea
{
    border-radius: 4px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 4px;
    /*width: 400px;*/
    height: 150px;
}

select
{
    border-radius: 4px;
    padding: 2px 3px 3px 2px;
    /*width: 410px;*/
}




/********************************************************[ Table styles ]**********************************************/

.listTable
{
    font-family: verdana, tahoma, times, arial, serif;
    font-size: 13px;
    /*width: 95% !important;*/
    margin: 0 auto;
    border-collapse: collapse;
}
.listTable tr
{
    background-color: #F7F7F7;
    text-align: center;
}
.listTable td {padding: 5px;border:1px solid #999999;}
.listTable tr:hover{background-color: #E6E6E6;}
.listTable .header
{
    font-weight: bold;
    text-align: center;
    background: #E9E9E9;
}